html, body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Kalam;
}

.main{
    flex-grow: 1;
}

/* header stuff */
.header{
    background-color: #1f2937;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    height:82px;
    font-size: 18px;
    z-index: 1
}

.left-items, .right-items{
    display: flex;
    align-items: center;
    margin: 16px;
    gap:16px;
    color: white;
    padding: 0px 16px 0px 16px;
}

ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin:0;
}
a{
    text-decoration: none;
    padding: 16px;
    margin: 0;
}

.header a{
    color: white;
}

.logo img{
    height: 60px;
    clip-path: circle();
    margin-right: 15px;
}

.right-items li::after{
    content: '';
    height: 2px;
    width: 0px;
    background-color: white;
    display: block;
    transition: 300ms ease-in-out;
}

.right-items li:hover::after{
    content: '';
    height: 2px;
    width: 90%;
    background-color: white;
    display: block;
}

/* end of header stuff */



/* start of personal information stuff */

.random-info{
    background-image: url(images/code_background.jpg); 
    background-size: cover ;
    display: flex;
    align-items: center;
    margin: 32px;
    justify-content: center;
    margin: 0;
    flex-wrap:wrap ;
}

.left-info, .right-info{
    background: #1f2937;
    padding: 10px;
    margin: 32px;
    margin: 100px 100px 50px 100px;
    border-radius: 30px
    ;
}

.right-info img{
    border-radius: 35px;
    padding: 7px;
}

.me-info-large,.me-info-small{
    background: white;
    border-radius: 30px; 
    max-width: 600px;
    margin: 10px;

    display: flex ;
    align-items: center;
    justify-content: center;
}

.sign-up{
    background: white;
    max-width: fit-content;
    padding: 9px;
    font-size:large;
    border-radius:15px;
    margin:15px;

}

.sign-up a {
    color: black;
} 

.me-info-large{
    font-size: 32px;
    padding: 0 10px 0 10px;
}

.me-info-small{
    font-size: 20px;
    margin-top: 45px;
    padding: 10px;
    margin-top: 20px;

}

/* end of perpsonal info */

/* start of photos */
.photo-col{
    background: #e5e7eb;
    text-align: center;
    font-size: 20px;
}

.photo-title{
    margin: 0 0 50px 0;
    font-size: 50px;
    text-decoration: underline;
}

.photos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}
.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 190px;
    gap: 15px;
    margin: 0 60px 50px 60px;
}

.photo img{
    height: 180px;
    width: 190px;
    background-color: #1f2937;
    padding: 10px;
    border-radius: 20px;
}

.photo img{
    transition: all 350ms ease-in-out;
    object-fit: cover;
}

.photo img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 30px #519bdb;
} 


/* end of photos */

/* start of quote */

.quote-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 130px 0 110px 0;
}

#quote{
    font-size: 4em;
}

#author{
 font-size: 1.5em;
 margin-left :18em;
}


/* start of sign up thing */

.parallax{
    background: url(https://cdn.wallpapersafari.com/12/53/zuvROc.jpg) repeat fixed 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 4em; 
    background-color: #1f2937;
    border-radius: 10px;
    padding:20px ;

}

#wanna-start{
    font-size: 25px;
    font-weight: 900;

}
#text-info{
    display :flex;
    flex-direction: column;
}

#start-now, #text-info{
    margin:15px 40px 15px 40px;
    color: #e5e7eb;
}
#start-now button{
    width: 108px;
    height: 28px;
    font-size: 18px;
}
/* end of sign up thing */

/* start of footer */
.footer{
    background: #1f2937;

}


.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer a {
    color: #e5e7eb;
}

.middle-link{text-decoration: underline dotted;}

.right-link ,.left-link{
    margin:0 25px 0 25px ;
}
/* end of footer */